@using WorkReport.Models.Models;
@model UserIndexViewModelTS

<form method="post">
    <!-- User Information Section -->
    <div class="border p-1 mt-1">
        <!-- User Information Card -->
        <div class="row gutters-sm">
            <div class="col-md-12">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 d-flex justify-content-between align-items-center">Full Name</h6>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-between align-items-center text-primary">
                                @Model.CurrentUser.EmployeeName
                            </div>
                            <div class="col-sm-2">
                                <h6 class="mb-0 d-flex justify-content-between align-items-center">Employee ID</h6>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-between align-items-center text-light">
                                @Model.CurrentUser.EmployeeID
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-2">
                                <h6 class="mb-0 d-flex justify-content-between align-items-center">Reporting Officer</h6>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-between align-items-center text-success">
                                @if (string.IsNullOrEmpty(Model.CurrentUser.ReportingOfficerName))
                                {
                                    <span class="text-danger">No Reporting Officer Assigned</span>
                                }
                                else
                                {
                                    <span class="text-success">@Model.CurrentUser.ReportingOfficerName</span>
                                }
                            </div>
                            <div class="col-sm-2">
                                <h6 class="mb-0 d-flex justify-content-between align-items-center">Designation</h6>
                            </div>
                            <div class="col-sm-4 d-flex justify-content-between align-items-center text-info">
                                @foreach (var role in Model.CurrentUser.Roles)
                                {
                                    <span>@role.RoleName</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Project Addition Form -->
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Project</h2>
        </div>
        <div class="mb-3">
            <label asp-for="TimeSheet.Work" class="form-label">Project Number</label>
            <input asp-for="TimeSheet.Work" class="form-control" />
            <span asp-validation-for="TimeSheet.Work" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TimeSheet.EmployeeGUID" class="form-label mt-4">Work Description</label>
            <textarea asp-for="TimeSheet.EmployeeGUID" class="form-control" id="WorkDis" rows="5"></textarea>
            <span asp-validation-for="TimeSheet.EmployeeGUID" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TimeSheet.ReportDate" class="form-label">Date</label>
            <div class="input-group date" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                <input type="text" class="form-control datetimepicker-input" data-td-target="#datetimepicker1" />
                <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                    <i class="bi bi-calendar"></i>
                </span>
            </div>
            <span asp-validation-for="TimeSheet.ReportDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</form>

