@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using WorkReport.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var roles = await UserManager.GetRolesAsync(user);
    var allowedRoles = new List<string> { "AA", "ASO", "AM", "APOM", "DPO", "GIS ANALYST","PA","PE","RSA","SA","SO","SRSA" };
}

@if (roles.Any(role => allowedRoles.Contains(role)))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-controller="TS" asp-action="Index">Work Report</a>
    </li>
}
else
{
   
}

@if (roles.Contains("TEST"))
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Manager" asp-page="/Index">Manager Dashboard</a>
    </li>
}
